---
- hosts:
    - $THOST
  vars:
    ansible_port: 22225
    server_type: vds
  roles:
    - init-variables
    - vds-init
    - sudo
    - admin
    - sshd
#    - admin
#    - x-ui
...