- name: install sudo
  apt:
    name: sudo
    state: present

- name: create sudo subdirectories
  become: true
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 0755
  with_items:
    - /etc/sudoers.d

- name: copy configs sudo
  become: true
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: "{{ item.mode }}"
    validate: 'visudo -cf %s'
  with_items:
      - { src: "etc/sudoers.vds",
          dest: "/etc/sudoers.d/sudoers.vds",
          mode: "0440"
      }
  when: server_type == 'vds'
